Repository ssg-240304-java2/bmsSide, pull requests merged in 2024-06, with the labels that each got.

#22 #8 주문내역선택 기능 구현, 테이블출력 완료
  bmsSide/src/main/java/com/side/bms/request/controller/RequestController.java
  bmsSide/src/main/java/com/side/bms/request/mapper/RequestMapper.java
  bmsSide/src/main/java/com/side/bms/request/model/RequestBookDTO.java
  bmsSide/src/main/java/com/side/bms/request/model/RequestDTO.java
  bmsSide/src/main/java/com/side/bms/request/service/RequestService.java
  bmsSide/src/main/java/com/side/bms/request/view/RequestView.java
  bmsSide/src/main/resources/com/side/bms/request/mapper/RequestMapper.xml
Labels: request

#27 feature : 주문할 도서 선택
  bmsSide/src/main/java/com/side/bms/request/controller/RequestController.java
  bmsSide/src/main/java/com/side/bms/request/service/RequestService.java
  bmsSide/src/main/java/com/side/bms/request/view/RequestView.java
Labels: request, request update

#28 #13 주문번호 조회
  bmsSide/build.gradle
  bmsSide/src/main/java/com/side/bms/order/Main.java
  bmsSide/src/main/java/com/side/bms/order/controller/OrderController.java
  bmsSide/src/main/java/com/side/bms/order/model/dto/OrderDTO.java
  bmsSide/src/main/java/com/side/bms/order/model/mapper/OrderMapper.java
  bmsSide/src/main/java/com/side/bms/order/model/service/OrderService.java
  bmsSide/src/main/java/com/side/bms/order/unils/database/MyBatisTemplate.java
  bmsSide/src/main/java/com/side/bms/order/view/OrderView.java
  bmsSide/src/main/java/com/side/bms/order/view/ResultView.java
  bmsSide/src/main/resources/com/side/bms/order/model/mapper/OrderMapper.xml
  bmsSide/src/main/resources/config/connection-info.properties
  bmsSide/src/main/resources/config/mybatis-config.xml
Labels: enhancement
